POSTGRES_DB=prac
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac

DATABASE_DRIVER=postgres
DATABASE_URL=postgres://database:5432/prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

LOGGER_TYPE=json